In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, PolynomialFeatures, LabelEncoder
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import mean_squared_error, r2_score

np.set_printoptions(threshold=np.inf)

In [2]:
data = pd.read_csv("train.csv")
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [4]:
data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

## Print the null values % of each column

In [5]:
for col in data.columns:
    print(col, ": ", data[col].isna().sum()/len(data[col]))

Id :  0.0
MSSubClass :  0.0
MSZoning :  0.0
LotFrontage :  0.1773972602739726
LotArea :  0.0
Street :  0.0
Alley :  0.9376712328767123
LotShape :  0.0
LandContour :  0.0
Utilities :  0.0
LotConfig :  0.0
LandSlope :  0.0
Neighborhood :  0.0
Condition1 :  0.0
Condition2 :  0.0
BldgType :  0.0
HouseStyle :  0.0
OverallQual :  0.0
OverallCond :  0.0
YearBuilt :  0.0
YearRemodAdd :  0.0
RoofStyle :  0.0
RoofMatl :  0.0
Exterior1st :  0.0
Exterior2nd :  0.0
MasVnrType :  0.005479452054794521
MasVnrArea :  0.005479452054794521
ExterQual :  0.0
ExterCond :  0.0
Foundation :  0.0
BsmtQual :  0.025342465753424658
BsmtCond :  0.025342465753424658
BsmtExposure :  0.026027397260273973
BsmtFinType1 :  0.025342465753424658
BsmtFinSF1 :  0.0
BsmtFinType2 :  0.026027397260273973
BsmtFinSF2 :  0.0
BsmtUnfSF :  0.0
TotalBsmtSF :  0.0
Heating :  0.0
HeatingQC :  0.0
CentralAir :  0.0
Electrical :  0.0006849315068493151
1stFlrSF :  0.0
2ndFlrSF :  0.0
LowQualFinSF :  0.0
GrLivArea :  0.0
BsmtFullBath :  0.0
BsmtHalfBath :  0.0
FullBath :  0.0
HalfBath :  0.0
BedroomAbvGr :  0.0
KitchenAbvGr :  0.0
KitchenQual :  0.0
TotRmsAbvGrd :  0.0
Functional :  0.0
Fireplaces :  0.0
FireplaceQu :  0.4726027397260274
GarageType :  0.05547945205479452
GarageYrBlt :  0.05547945205479452
GarageFinish :  0.05547945205479452
GarageCars :  0.0
GarageArea :  0.0
GarageQual :  0.05547945205479452
GarageCond :  0.05547945205479452
PavedDrive :  0.0
WoodDeckSF :  0.0
OpenPorchSF :  0.0
EnclosedPorch :  0.0
3SsnPorch :  0.0
ScreenPorch :  0.0
PoolArea :  0.0
PoolQC :  0.9952054794520548
Fence :  0.8075342465753425
MiscFeature :  0.963013698630137
MiscVal :  0.0
MoSold :  0.0
YrSold :  0.0
SaleType :  0.0
SaleCondition :  0.0
SalePrice :  0.0

## Find the columns with more than 90% null values

In [6]:
null_columns = [col for col in data.columns if data[col].isna().sum()/len(data[col]) > 0.90]
print(null_columns)

['Alley', 'PoolQC', 'MiscFeature']

## Drop null columns from data frame

In [7]:
data = data.drop(null_columns, axis=1)
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,3SsnPorch,ScreenPorch,PoolArea,Fence,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,0,0,0,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,NaN,0,12,2008,WD,Normal,250000

## Drop `ID` column

In [8]:
data = data.drop(["Id"], axis=1)
data.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,3SsnPorch,ScreenPorch,PoolArea,Fence,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,NaN,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,NaN,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,NaN,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,0,0,0,NaN,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,0,0,0,NaN,0,12,2008,WD,Normal,250000

In [9]:
columns = data.columns
columns

Index(['MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea',
       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC',
       'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd',
       'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond',
       'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'Fence', 'MiscVal', 'MoSold', 'YrSold',
       'SaleType', 'SaleCondition', 'SalePrice'],
      dtype='object')

# Replace all numeric missing values with average value

In [10]:
numeric_columns = data.select_dtypes(include='number').columns

In [11]:
data[numeric_columns] = data[numeric_columns].fillna(data[numeric_columns].mean())

# Convert categorical variable to numeric variables

In [12]:
categorical_columns = data.select_dtypes(include='object').columns
categorical_columns

Index(['MSZoning', 'Street', 'LotShape', 'LandContour', 'Utilities',
       'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
       'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual',
       'GarageCond', 'PavedDrive', 'Fence', 'SaleType', 'SaleCondition'],
      dtype='object')

In [13]:
for col in categorical_columns:
    label = LabelEncoder()
    label.fit(list(data[col].values))
    data[col] = label.transform(list(data[col].values))

## Find highly correlated values to the salesPrice

In [14]:
corr_mat = data.corr()
k = 15
top_corr_cols = corr_mat.nlargest(k, "SalePrice")["SalePrice"].index
top_corr_cols

Index(['SalePrice', 'OverallQual', 'GrLivArea', 'GarageCars', 'GarageArea',
       'TotalBsmtSF', '1stFlrSF', 'FullBath', 'TotRmsAbvGrd', 'YearBuilt',
       'YearRemodAdd', 'MasVnrArea', 'GarageYrBlt', 'Fireplaces',
       'BsmtFinSF1'],
      dtype='object')

# Location is very highly correlated to the house prices so lets add it to the top_corr_cols

In [15]:
top_corr_cols = top_corr_cols.union(["Neighborhood"])
top_corr_cols

Index(['1stFlrSF', 'BsmtFinSF1', 'Fireplaces', 'FullBath', 'GarageArea',
       'GarageCars', 'GarageYrBlt', 'GrLivArea', 'MasVnrArea', 'Neighborhood',
       'OverallQual', 'SalePrice', 'TotRmsAbvGrd', 'TotalBsmtSF', 'YearBuilt',
       'YearRemodAdd'],
      dtype='object')

In [ ]:
sns.pairplot(data[top_corr_cols].corr())

In [ ]:
ridge_data = data[top_corr_cols]

## Split the data in test and train set

In [ ]:
ridge_train, ridge_test = train_test_split(ridge_data, test_size=0.25, random_state=100)

## Scale the data using MinMaxScaler

In [ ]:
scaler = MinMaxScaler()
ridge_train[top_corr_cols] = scaler.fit_transform(ridge_train[top_corr_cols])

In [ ]:
X_train_ridge = ridge_train[top_corr_cols]
y_train_ridge = X_train_ridge.pop("SalePrice")

In [ ]:
X_train_ridge

## Transform the test data

In [ ]:
ridge_test[top_corr_cols] = scaler.transform(ridge_test[top_corr_cols])

In [ ]:
X_test_ridge = ridge_test[top_corr_cols]
y_test_ridge = X_test_ridge.pop("SalePrice")

## Ridge Regression

In [ ]:
lambdas = [0, 0.001, 0.01, 0.1, 1, 10, 100] 
for i in lambdas: 
    
    ridgereg = Ridge(alpha = i) # Initialize the Ridge Regression model with a specific lambda
    ridgereg.fit(X_train_ridge, y_train_ridge) # fit the model on the polynomial features
    
    #Computing the r2 score
    y_pred_ridge = ridgereg.predict(X_test_ridge)
    print(i,"->", str(r2_score(y_test_ridge, y_pred_ridge)), ridgereg.coef_)

### Optimal value of lambda for `Ridge` regression is `0.01`
### Let's double it and see the model performance

In [ ]:
ridgereg = Ridge(alpha = 0.02) # Initialize the Ridge Regression model with a specific lambda
ridgereg.fit(X_train_ridge, y_train_ridge) # fit the model on the polynomial features

#Computing the r2 score
y_pred_ridge = ridgereg.predict(X_test_ridge)

print(ridgereg.coef_)
print("R2: ", r2_score(y_test_ridge, y_pred_ridge))
print("RSS: ", np.sum(np.square(y_pred_ridge - y_test_ridge)))
mse =  mean_squared_error(y_test_ridge, y_pred_ridge)
print("MSE: ", mse)
print("RMSE: ", mse**0.5)

# Lasso Regression

## Test train split

In [ ]:
lasso_train, lasso_test = train_test_split(data, test_size=0.3, random_state=100)

## scale the train data

In [ ]:
scale = MinMaxScaler()
lasso_train[columns] = scaler.fit_transform(lasso_train[columns])

In [ ]:
y_train_lasso = lasso_train.pop("SalePrice")
X_train_lasso = lasso_train

## transform the test data

In [ ]:
lasso_test[columns] = scaler.transform(lasso_test[columns])

In [ ]:
y_test_lasso = lasso_test.pop("SalePrice")
X_test_lasso = lasso_test

## Lasso can perform the feature selection, so lets just pass all the features

In [ ]:
lambdas = [0, 0.00001, 0.0001, 0.001, 0.01, 0.1, 1, 10]
for i in lambdas:
    lasso_reg = Lasso(alpha = i)
    lasso_reg.fit(X_train_lasso, y_train_lasso)
    
    # Compute the r2 score
    y_pred_lasso = lasso_reg.predict(X_test_lasso)
    print(i, "->", r2_score(y_test_lasso, y_pred_lasso))

### R Square value for all the lambda values is same, so lets go with `0.01` lambda value
### Let's doulble it and see the model performance

In [ ]:
lasso_reg = Lasso(alpha = 0.00002)
lasso_reg.fit(X_train_lasso, y_train_lasso)

# Compute the r2 score
y_pred_lasso = lasso_reg.predict(X_test_lasso)

print(lasso_reg.coef_)
print("R2: ", r2_score(y_test_lasso, y_pred_lasso))
print("RSS: ", np.sum(np.square(y_pred_lasso - y_test_lasso)))
mse =  mean_squared_error(y_test_lasso, y_pred_lasso)
print("MSE: ", mse)
print("RMSE: ", mse**0.5)

## delete the top 5 predictors and retrain the Lasso model

In [ ]:
top_5_predictors = ["GrLivArea", "OverallQual", "BsmtFinSF1", "TotalBsmtSF", "MasVnrArea"]

In [ ]:
X_train_lasso = X_train_lasso.drop(top_5_predictors, axis=1)

In [ ]:
X_test_lasso = X_test_lasso.drop(top_5_predictors, axis=1)

In [ ]:
X_train_lasso

In [ ]:
lasso_reg = Lasso(alpha = 0.00001)
lasso_reg.fit(X_train_lasso, y_train_lasso)

# Compute the r2 score
y_pred_lasso = lasso_reg.predict(X_test_lasso)

#print(list(lasso_reg.coef_))
print("R2: ", r2_score(y_test_lasso, y_pred_lasso))
print("RSS: ", np.sum(np.square(y_pred_lasso - y_test_lasso)))
mse =  mean_squared_error(y_test_lasso, y_pred_lasso)
print("MSE: ", mse)
print("RMSE: ", mse**0.5)